<script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

<link rel = "stylesheet" href = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel = "manifest"   href="manifest.json">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="manifest" href="manifest.json">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">


<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3>Crisis Management System</h3>
            </div>
        </header>

        <div class="col-xs-12" style="height:50px;"></div>

        <!-- Here begins the drawer on the sidebar-->
        <div class="mdl-layout__drawer ">
            <span class="mdl-layout-title">Crisis Report</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url 'login' %}">Logout</a>
            </nav>

        </div>

        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--12-col">

                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" style="background-color: white;">
                        <thead>
                        <tr>
                            <th>CrisisID</th>
                            <th>Title</th>
                            <th>Time</th>
                            <th>location</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                                <th>CrisisID</th>
                                <th>Title</th>
                                <th>Time</th>
                                <th>location</th>
                                <th>Status</th>

                        </tr>
                        </tfoot>
                        <tbody>


                            {% for crisis in crisis_set %}
                            <tr>
                            <td>{{crisis.id}}</td>
                            <td>
                                    <a style="color: gray;" href="{% url 'CMOBackend:viewPlan' crisis.id %}">{{crisis.Title}}</a>
                                </td>
                            <td>{{crisis.DateTime|date:'d-m-Y H:i'}}</td>
                            <td>{{crisis.Location}}</td>
                            <td>{{ crisis.get_CrisisStatus_display }}</td>
                            </tr>
                            {% endfor %}



                        </tbody>
                    </table>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>>
</body>



    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );

    </script>