{% extends "CMOBackend/base.html" %}

{% block content %}

<head>
    <title>Crisis Management Office </title>
    <!-- Material Design Lite -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet"
          href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css" />
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
    body{background:#eee;}
</style>

<body>
<!-- Layout Container with Fixed Header and Tabs -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>Crisis Management System</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <!-- Tab Container with Tab links -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <!-- class is-active to show currently active tab -->
            <a href="#detail" class="mdl-layout__tab is-active">Details</a>
            <a href="#update" class="mdl-layout__tab">Updates</a>
            <a href="#plan" class="mdl-layout__tab">Plan</a>
            <a href="#chat" class="mdl-layout__tab">PMO chat</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Crisis Report</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="index.html">Back to Dashboard</a>
            <a class="mdl-navigation__link" href="">Logout</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <!-- Details Page -->
        <section class="mdl-layout__tab-panel is-active" id="detail">
            <div class="page-content">
                <h3>Detailed description of crisis</h3>
            </div>
        </section>

        <!-- Updates from EF Page -->
        <section class="mdl-layout__tab-panel" id="update">
            <div class="page-content">
                <h3>Update from EF</h3>
            </div>
        </section>

        <!-- Planning Page -->
        <section class="mdl-layout__tab-panel" id="plan">
            <div class="page-content">
                <a href="./newPlan.html"></a>
            </div>
        </section>

        <!-- Chatting window with PMO -->
        <section class="mdl-layout__tab-panel" id="chat">
            <div class="page-content">
                <h1>Chat windows with PMO</h1>
            </div>
        </section>
    </main>
    <div>
        <form action="{% url 'CMOBackend:activatePlan' plan.id %}" method="post">
            {% csrf_token %}
            <input id='location' type="hidden" value="{{ crisis.Location }}" name="location"/>
            <input id='lat' type="hidden" value="" name="lat"/>
            <input id='lng' type="hidden" value="" name="lng"/>

            <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                </div>
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                    <h3>{{ crisis.Title }}</h3>
                </div>
                <div class="mdl-layout--large-screen-only mdl-layout__header-row"></div>
                <div class="mdl-layout__tab-bar-container">
                    <div class="mdl-layout__tab-bar  mdl-color--primary-dark">
                        <!-- TODO: modify the href tag here.-->
                        <a href="./plan.html" class="mdl-layout__tab is-active">Summery</a href=".">
                        <a href="./newPlan.html" class="mdl-layout__tab">Plan for action</a>
                        <a href="./map" class="mdl-layout__tab">Map</a>
                        <a href="./PMOchat.html" class="mdl-layout__tab">Communication with PMO</a>
                    </div>>
                </div>
            </header>

            <!-- Here begins the drawer on the sidebar-->
            <div class="mdl-layout__drawer ">
                <span class="mdl-layout-title">Detailed Report</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="{% url 'login' %}">Logout</a>
                </nav>
            </div>


            <div class="mdl-card center-block">
                <!--TODO: we should also diaplay the new call information here-->
                <h2>Analysis of Case</h2>
            </div>

            <div class='container'>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ plan.AnalysisOfCase }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        Date of Last Update
                    </div>
                    <div class="col-xs-1">
                        :
                    </div>
                    <div class="col-xs-3">
                        {{plan.Datetime|date:'d-m-Y H:i'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        Map
                    </div>
                    <div class="col-xs-1">
                        :
                    </div>
                    <div class="col-xs-3">
                        <a href="{% url 'CMOBackend:map' crisis.id %}">Access the Map</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        Crisis Type
                    </div>
                    <div class="col-xs-1">
                        :
                    </div>
                    <div class="col-xs-3">
                        {{plan.get_CrisisType_display}}
                    </div>
                </div>

                {% for action in plan.suggestedactions_set.all %}
                <div class="row">
                    <div class="col-xs-2">
                        <h3>Security Level</h3>>
                    </div>
                    <div class="col-xs-1">
                        :
                    </div>
                    <div class="col-xs-3">
                        {{action.SeverityLevel}}
                    </div>
                    <div class="col-xs-2">
                        Troop Type
                    </div>
                    <div class="col-xs-1">
                        :
                    </div>
                    <div class="col-xs-3">
                        {{action.get_TypeTroop_display}}
                    </div>>
                </div>
                {% endfor %}
                <br />

                <h3>Comments From PMO</h3>
                <div class="row">
                    {% for comment in plan.plancomments_set.all %}
                    <div class='col-xs-10 col-xs-offset-1'>
                        {{comment.Comment}}
                    </div>
                    {% endfor %}
                </div>
                <br />

                <div class="row">
                    <!-- if user is not general, do not show this button -->
                    {% if not plan.isApprovedByGeneral and isGeneral%}
                    <a href="{% url 'CMOBackend:gApprovePlan' plan.id %}" ><button type="button" class='btn btn-success' >Approve Plan</button></a>
                    {% endif %}
                    <!--  if user is not analyst, do not show this button -->
                    {% if isGeneral or isAnalyst%}
                    <a href="{% url 'CMOBackend:editPlan' crisis.id %}" ><button type="button" class='btn' >Edit Plan</button></a>
                    {% if plan.isApprovedByPMO%}
                    <a href="{% url 'CMOBackend:activatePlan' plan.id %}" ><button type="submit" class='btn btn-danger' >Activate Plan</button></a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>>
</div>

</body>
{% endblock content %}