{% extends "CMOBackend/base.html" %}

{% block content %}
<h1>{{ crisis.Title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
  {% for call in crisis.call_set.all %}
  <p> {{ call.BriefDescription }} </p>
  {% endfor %}
</div>

<form action="{% url 'CMOBackend:savePlan' crisis.id %}" method="post">
{% csrf_token %}
<label> Analysis </label>
<input type="text" name="AnalysisOfCase" />
<select name="crisis_choices">
  <option value="TR">Terrorist</option>
  <option value="ND">Natural Disaster</option>
  <option value="EP">Epidemic</option>
</select>
<button type="button" onclick="addAction()" id="add-another">Add Action</button>
<div>
  <ul style="list-style: none;" id="suggested_actions">
  </ul>
</div>
<input type="hidden" name="total_input_fields"/>
<input type="submit" value="Generate Plan" />
</form>

{% load static %}
<script src="{% static 'CMOBackend/plan.js' %}"> </script>
{% endblock content %}
