<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Crisis Management Office </title>
    <!-- Material Design Lite -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet"
          href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css" />
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
    body{background:#eee;}
</style>

<body>
<!-- Layout Container with Fixed Header and Tabs -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>Crisis Management System</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <!-- Tab Container with Tab links -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <!-- class is-active to show currently active tab -->
            <a href="#detail" class="mdl-layout__tab is-active">Details</a>
            <a href="#update" class="mdl-layout__tab">Updates</a>
            <a href="#plan" class="mdl-layout__tab">Plan</a>
            <a href="#chat" class="mdl-layout__tab">PMO chat</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Crisis Report</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Back to Dashboard</a>
            <a class="mdl-navigation__link" href="">Logout</a>
        </nav>

    </div>
    <main class="mdl-layout__content">
        <!-- Details Page -->
        <section class="mdl-layout__tab-panel is-active" id="detail">
            <div class="page-content">
                <h3>Detailed description of crisis</h3>
            </div>
        </section>

        <!-- Updates from EF Page -->
        <section class="mdl-layout__tab-panel" id="update">
            <div class="page-content">
                <h3>Update from EF</h3>
            </div>
        </section>

        <!-- Planning Page -->
        <section class="mdl-layout__tab-panel" id="plan">
            <div class="page-content">
                <a href="./newPlan.html"></a>
            </div>
        </section>

        <!-- Chatting window with PMO -->
        <section class="mdl-layout__tab-panel" id="chat">
            <div class="page-content">
                <h1>Chat windows with PMO</h1>
            </div>
        </section>
    </main>
</div>

</body>
</html>