<!DOCTYPE html>
<html>
    <head>
        <title>CMO</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
        
        <link rel = "stylesheet" href = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        {% load static %}
     
       

        <script src="{% static 'CMOBackend/plan.js' %}"> </script>
        <link href="{% static 'CMOBackend/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'CMOBackend/bootstrap.min.js' %}"></script>

        <link href="{% static 'main.css' %}" rel="stylesheet">
    </head>

    <body  >

        {% block content %}{% endblock content %}
    </body>
</html>
